:root{
    --html-background: #fefefe;
    --cl-background: #a0e0f4;
    --cl-text: #151858;
    --cl-pre:#527b94;
    --cl-blue:#4389b8;
    --cl-yellow:#c07e31;
    --cl-pink: #c062d8;
}

@media (prefers-color-scheme: dark){
    :root{
        --html-background: #04131e;
        --cl-background: #3c445d;
        --cl-text: #fefefe;
        --cl-pre:  #312e5f;
        --cl-blue: #53a9e2;
        --cl-yellow: #dddd5c;
        --cl-pink: #d37de9;
        --cl-grd:#53618a;
    }
}

@font-face {
    font-family: "OpenSans";
    src: url(FONTS/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
}

@font-face {
    font-family: "Impact";
    src: url(FONTS/impact.ttf) format("truetype");
}

html{
    background-color: var(--html-background); margin: 10%;
    scroll-behavior: smooth;
}

p{color: var(--cl-text); font-family: OpenSans;}
h1{color:var(--cl-text); font-family: Impact; font-size: 120px;  letter-spacing: 3px; text-align: center;
    text-decoration: none; margin: 0; font-weight: lighter;}
h2{color:var(--cl-text); font-family: Impact; font-size: 40px;  letter-spacing: 3px; 
    text-decoration: none; margin: 0; font-weight: lighter;}
h3{color:var(--cl-text); font-family: Impact; font-size: 30px;  letter-spacing: 3px; 
    text-decoration: none; margin: 0; font-weight: lighter;}
h4{color:var(--cl-text); font-family: Impact; font-size: 20px;  letter-spacing: 3px; 
text-decoration: none; margin: 0; font-weight: lighter;}
h5{color:var(--cl-text); font-family: Impact; font-size: 18px;  letter-spacing: 3px; 
    text-decoration: none; margin: 0; font-weight: lighter;}
summary{color:var(--cl-text); font-family: Impact; font-size: 20px;  letter-spacing: 3px; 
    text-decoration: none; margin: 0; font-weight: lighter;}
li{color: var(--cl-text); font-family: OpenSans;}

a{color:var(--cl-yellow); text-decoration: none;}
clb{color: var(--cl-blue);}
clp{color: var(--cl-pink);}

nav{column-count: 2;}
aside{p, a{color: var(--cl-text);}}
iframe{background: #fff; margin: 20px 0; border-radius: 5px; vertical-align: middle;}

pre{background: var(--cl-pre); color: var(--cl-text); border-radius: 5px;
    padding: 10px;
    overflow: auto;
}
.nncc{column-count: 2;}

.contenedor{width: 100%; display: flex; gap:20px; flex-wrap: wrap; margin-top: 10px;}
.ctnwtcss{display: flex;width: calc(33.3% - 20px); flex-direction: column; position: relative;}

@media(max-width: 768px){.ctnwtcss{width: calc(50% - 20px);}}
@media(max-width: 425px){.ctnwtcss{width: calc(100%);}}

.onclm{}

.title{background: var(--cl-pre);border-radius:5px;p,h2{text-align: center;}}

section{
    border-radius: 5px;
    margin: 30px 0 30px;
    padding: 20px;
    background: var(--cl-background);

article > p{list-style-type: none; color: var(--cl-text); font-family: OpenSans;}}

.ex-with-css{column-count: 3; border:20px  0;}
.ex-with-html{column-count: 2; margin: 0 auto; pre{margin-top: 5px;}}
img{margin: 0 auto; border-radius: 5px;}

table{border-collapse: collapse; margin:20px auto;}
th, tr, td{padding:10px; border: 2px solid var(--cl-text);
    color: var(--cl-text); font-family: OpenSans;}

.codepen{
    height: 700px;
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid; 
    margin: 1em 0; 
    padding: 1em;
}
